
bin/Debug/net472/Aki.Common.dll
bin/Debug/net472/Aki.Reflection.dll
bin/Debug/net472/Assembly-CSharp.dll
bin/Debug/net472/com.JustNU.AdjustableTraderRows.dll
bin/Debug/net472/com.JustNU.AdjustableTraderRows.pdb
bin/Debug/net472/Comfort.dll
Libraries/0Harmony.dll
Libraries/Aki.Common.dll
Libraries/Aki.Reflection.dll
Libraries/Assembly-CSharp.dll
Libraries/BepInEx.dll
Libraries/Comfort.dll
Libraries/UnityEngine.CoreModule.dll
Libraries/UnityEngine.dll
obj/AdjustableTraderRows.csproj.nuget.dgspec.json
obj/AdjustableTraderRows.csproj.nuget.g.props
obj/AdjustableTraderRows.csproj.nuget.g.targets
obj/Debug/net472/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Debug/net472/AdjustableTraderRows.AssemblyInfo.cs
obj/Debug/net472/AdjustableTraderRows.AssemblyInfoInputs.cache
obj/Debug/net472/AdjustableTraderRows.assets.cache
obj/Debug/net472/AdjustableTraderRows.csproj.AssemblyReference.cache
obj/Debug/net472/AdjustableTraderRows.csproj.CopyComplete
obj/Debug/net472/AdjustableTraderRows.csproj.CoreCompileInputs.cache
obj/Debug/net472/AdjustableTraderRows.csproj.FileListAbsolute.txt
obj/Debug/net472/AdjustableTraderRows.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net472/com.JustNU.AdjustableTraderRows.dll
obj/Debug/net472/com.JustNU.AdjustableTraderRows.pdb
obj/Debug/net472/PluginInfo.cs
obj/project.assets.json
obj/project.nuget.cache
